<div>
    <ul class="info">
        {{#with myData.aboutme}}
        <li><span class="first-block">Full Name :</span><span class="second-block"></span>{{FullName}}</li>
        <li><span class="first-block">Address :</span><span class="second-block"></span>{{Address}}</li>
        <li><span class="first-block">Current Education :</span><span class="second-block"></span>{{CurrentEducation}}
        </li>
        <li><span class="first-block">Upper Secondary Education :</span><span
                class="second-block"></span>{{UpperSecondaryEducation}}</li>
        <li><span class="first-block">ALower Secondary Education :</span><span
                class="second-block"></span>{{ALowerSecondaryEducation}}</li>

        {{!-- <li><span class="first-block">Email :</span><span class="second-block"></span><a
                href="mailto:{{Email}}">{{Email}}</a></li> --}}

        {{/with}}
    </ul>
</div>